[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sahilsharma89
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sahilsharma89
	label-Verified = -1..+1 group user/sahilsharma89
	push = group user/sahilsharma89
	read = group user/sahilsharma89
	rebase = group user/sahilsharma89
	removeReviewer = group user/sahilsharma89
	submit = group user/sahilsharma89
[access "refs/heads/*"]
	create = group user/sahilsharma89
	push = +force group user/sahilsharma89
	pushMerge = group user/sahilsharma89
	read = group user/sahilsharma89
[access "refs/tags/*"]
	push = group user/sahilsharma89
	push = +force group user/sahilsharma89
